@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div>
    <form method="post">
        <div>
            <label>Username</label>
            <div>
                <input type="text" name="username" value=""/>
            </div>
        </div>
        <div>
            <label>Password</label>
            <div>
                <input type="text" name="passwd" value=""/>
            </div>
        </div>
    </form>
    <div>
        <button>LogIn</button>
        <a href="/SignIn"><button>SignIn</button></a>
    </div>
</div>
