@page
@model MyCompanion.Pages.OptionModel
@{
    ViewData["Title"] = "Option page";
}

<div style="display:flex">
    <div style="border:double">
        Sign In as Acceptor
    </div>
    <div style="border:double">
        Sign In as Providor
    </div>
</div>
